@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Helvetica, sans-serif;
}

.amrut {
  letter-spacing: 0.5rem;
}
.navtxt {
  @apply text-navtext hover:underline;
}
.cen {
  @apply flex items-center justify-center;
}
.bo {
  @apply border border-red-500;
}
.feeDiv {
  @apply cen flex-col border p-2 border-[#3A643B] border-opacity-40 rounded-lg;
}
.fee {
  @apply text-sm font-bold text-[#3A643B];
}
.cardtxt {
  @apply text-base gap-1 flex items-start text-[#646665];
}
.socialDiv {
  @apply bg-[#F7F7FC] size-10 border-[0.3px] rounded-full border-[#8E8E8E] cen;
}
